*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
header{
    display: flex;
    position: relative;
    background-color: #C6F0EA;
    border-bottom:10px solid green ;
}
section{
    background-color: #C6F0EA;
}
h1{
    position: absolute;
    left: 25%;
    font-size: 3em;
    color: green;
    
}
h3{
    font-size: 1em;;
    border-bottom: 3px solid green;
}
body{
    max-width: 800px;
    margin: auto;
}
fieldset{
    border: 2px solid green;
    margin: 0px 5px;
    padding: 5px;
}
label{
    margin-left: 20px;
}
div{
    margin: 5px 0px;
}
legend{
    font-size: 1.5em;
}
.col-1{
    min-width: 52%;
}
.bouton{
    margin-top: 20px;
    position: relative;
    left: 43%;
    background: #C6F0EA;
    border: 1px solid green;
    color: green;
    height: 40px;
    width: 90px;
}
.bouton:hover{
    background: green;
    color: #c6f0ea;;
}
.boutonRadio{
    margin-left: 0px;
    background-color: green;
    color: white;
}
.boutonRadio-1{
    margin-left: 0px;
}
.boite-grise{
    background: green;
    border-radius: 10px;
    display: flex;
    margin: 3px 1rem;
}
.boite-verte{
    background: green;
}
.boite-grise:hover{
    background-color: lightpink;
}
.boite-grise:hover>:nth-child(2){
    background-color: lightpink;
    color: black;
}

.boite-grise input{
    margin-right: 5px;
}
.ensemble{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 20px;
}
.gris{
    background-color: gray;
}

.container{
    display: grid;
    grid-template-rows: repeat(8,1fr);
}
.item1{
    text-align: center;
    grid-row: 6/7;
}
.item2{
    text-align: center;
    grid-row: 7/8;
}
.item3{
    text-align: center;
    grid-row: 8/9;
    border: 2px solid green;
}
.input-bas{
    border: none;
    border-bottom: 1px solid blue;
}
::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}
.row{
    position: relative;
}
.col-4{
    width: 55%;
    position: absolute;
    left: 40%;
}
.col-6{
    width: 60%;
    position: absolute;
    left:35%
}
.col-2{
    position: absolute;
    left:10%;
}
.col-3{
    position: absolute;
    left:34%;
}
@media screen and (max-width:640px) {
    .ensemble{
        display: block;
    }
    .container{
        width: 50%;
        margin: auto;
        display: grid;
        grid-template-rows: repeat(6,1fr);
    }
    .item1{
        grid-row: 2/3;
    }
    .item2{
        text-align: center;
        grid-row: 3/4;
    }
    .item3{
        text-align: center;
        grid-row: 4/6;
        border: 2px solid green;
    }
}